<h1>Расписание автобусов <%= @routes[0].start_station_city.name %>-<%= @routes[0].finish_station_city.name %></h1>
<table class="table table-hover">
  <tr>
    <th>Дни работы</th>
    <th>Город</th>
    <th>Станция отправления</th>
    <th>Время отправления</th>
    <th>Город</th>
    <th>Станция прибытия</th>
    <th>Время прибытия</th>
    <th>Перевозчик</th>
  </tr>
  <% @routes.sort_by(&:departure_time).each do |route| %>
    <tr>
      <td><%= route.weekdays_str %></td>
      <td><%= @routes[0].start_station_city.name %></td>
      <td><%= route.start_station.name %></td>
      <td><%= route.departure_time_str %></td>
      <td><%= @routes[0].finish_station_city.name %></td>
      <td><%= route.finish_station.name %></td>
      <td><%= route.arrival_time_str %></td>
      <td><%= route.carrier.name %></td>
    </tr>
  <% end %>
</table>
